.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}

.nav-link {
  position: relative;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Відступ під текстом */
    left: 0;
    width: 0; /* Початкове значення ширини */
    height: 2px;
    background-color: #4dc274;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-item:hover .nav-link::after,
.nav-item:focus .nav-link::after {
  width: 40px;
}
