.header-nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #121417;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}
.header-nav__item {
}
.header-nav__link {
}
