.project-logo {
  color: #121417;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: lowercase;
  text-decoration: none;
}
.project-logo__accent {
  color: #4dc274;
}
